html
 head
  title what is your name
 body
  name= _nm
  div Welcome to Korea!
  country= _cnunt
  br
  a(href='https://github.com/israelKorea') Link to Github.com
  button(onclick='#{https://www.naver.com}') click